{#ADMIN#}

{% extends "EDRAppliBundle::layoutadmin.html.twig" %}

{% block body %}
    <h3 class="admin_h3">Création d'un nouveau tag</h3>

    <div class="admin_form">{{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="admin_valider" value="Ajouter" /> <a href="{{ path('tag_index') }}" alt="Retour à la liste des tags" title="Retour à la liste des tags">&crarr;</a>

    {{ form_end(form) }}
    </div>


{% endblock %}
