{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# création du bloc « title » avec « OC Plateforme » comme contenu par défaut #}
        <title>{% block title %}EDR{% endblock %}</title>

        {% block stylesheets %}
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="{{ asset('bundles/edrappli/css/style.css') }}">
        {% endblock %}
    </head>

    <body>

    {% if app.request.get('_route') == 'fos_user_security_login' %}

        <div id="content" class="col-md-9">
            {# création du bloc « body » sans contenu par défaut #}
            {% block body_login %}

            {% endblock %}
        </div>

    {% else %}

        <div class="container">
            <div id="header" class="jumbotron">
                <h1>EDR Application</h1>
                <p>
                    Ce projet est créé par Paola, Elodie, Timothée & Omar.
                </p>
            </div>


            <div class="row">
                <div id="menu" class="col-md-3">
                    <h3>Menu</h3>

                    {% block menu %}
                    {% endblock %}

                </div>
                <div id="content" class="col-md-9">
                    {# création du bloc « body » sans contenu par défaut #}
                    {% block body %}

                    {% endblock %}
                </div>
            </div>

            <hr/>

            <footer>
                <p>EDR Application © {{ 'now'|date('Y') }} </p>
            </footer>
        </div>

    {% endif %}



    {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}

    </body>
</html>