{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# création du bloc « title » avec « OC Plateforme » comme contenu par défaut #}
        <title>{% block title %}EDR{% endblock %}</title>

        {% block stylesheets %}
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bundles/edrappli/css/style.css') }}">
        {% endblock %}
    </head>

    <body>

    {% if app.request.get('_route') == 'fos_user_security_login' %}

        <div class="col s12">
            {# création du bloc « body » sans contenu par défaut #}
            {% block body_login %}

            {% endblock %}
        </div>

    {% else %}


                <h1>EDR</h1>

                    {% block menu %}
                    {% endblock %}


                <div class="row">
                    <div class="col s10">
                    {# création du bloc « body » sans contenu par défaut #}
                    {% block body %}

                    {% endblock %}
                    </div>
                </div>


            <hr/>

            <footer>
                <p>EDR Application © {{ 'now'|date('Y') }}</p>
            </footer>


    {% endif %}



    {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    {% endblock %}

    </body>
</html>