{#ADMIN#}

{% extends "EDRAppliBundle::layoutadmin.html.twig" %}

{% block body %}
<h3 class="admin_h3">Liste des catégories</h1>

    <div class="admin_menu">
    <a href="{{ path('categorie_new') }}">Créer une nouvelle catégorie</a>
    </div>

    {% for categorie in categories %}
        <div class="row">
                <div class="admin_cat"><a href="{{ path('categorie_show', { 'id': categorie.id }) }}"></a>
                {{ categorie.nom }}<br/><a href="{{ path('categorie_edit', { 'id': categorie.id }) }}">MODIFIER</a>
                </div>
        </div>
    {% endfor %}



    {% endblock %}