{#CLIENT#}


{# src/EDR/AppliBundle/Resources/views/Appli/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title  %}
    Recherche Restaurants - {{ parent() }}
{% endblock %}

{% block menu %}

    <ul class="nav nav-pills nav-stacked">
        {% for categorie in categories %}
            {# utilisation de la fonction {{ path() }} pour faire des liens vers d'autres routes #}
            <li><a href="{{ path('etab_category_show', {'category' : categorie.nom }) }}">{{ categorie.nom }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}

