{% extends 'layout.html.twig' %}

{% block title %}Mobile EDR : Résultat de la recherche{% endblock %}

{% block body %}

    <input id="pac-input" class="controls" type="text"
           placeholder="Enter a location">
    <div id="type-selector" class="controls">
        <input type="radio" name="type" id="changetype-all" checked="checked">
        <label for="changetype-all">Tous</label>

        <input type="radio" name="type" id="changetype-establishment">
        <label for="changetype-establishment">Etablissements</label>

        <input type="radio" name="type" id="changetype-address">
        <label for="changetype-address">Adresses</label>

        <input type="radio" name="type" id="changetype-geocode">
        <label for="changetype-geocode">Geocodes</label>
    </div>

    <div id="map">
        <script src="https://maps.googleapis.com/maps/api.js?libraries=places&key=AIzaSyCkdRROZn9lF8Jwxv22A6YvzMZjwZoQzo0"> </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkdRROZn9lF8Jwxv22A6YvzMZjwZoQzo0&callback=initMap&libraries=places" async defer></script>
    </div>
{% endblock %}


