/***********/
/**CSS MAP**/
/***********/
/*!**/

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.user-html{
    height: 100%;
    margin: 0;
}

#map {
    height: 600px;
    width: 600px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}


.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

/******* CSS Admin *******/

.admin_h3 {
    text-align: center;
    margin: auto;
    width: 100%;
    color: #0088CC;
}
.admin_h1 {
    text-align:center;
    margin:auto;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
}
.admin-html {
    background: #4d90fe;
    background: -webkit-linear-gradient(left,#003399, #00001A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,#003399, #00001A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#003399, #00001A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left,#003399, #00001A); /* Standard syntax */
    font-family: "URW Gothic L";
    margin: auto;
}
.admin_menu {
    margin: auto;

    width: 90%;

    background-color: rgba(0,0,0, 0.4);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
}
.admin_menu p{
    text-align: center;
    vertical-align: middle;
}
.admin_menu p:hover {
    margin: auto;

    width: 90%;
    background-color: rgba(255,255,240, 0.9);
    color: #000000;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    text-align: center;
    color: #000000;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
}
.admin_menu a:hover{
    text-transform: uppercase;
}
.admin_footer {
    margin: auto;
    text-align:center;
    margin-top: 10px;
    padding: 10px;
    background: #000000;
    background: -webkit-linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0, 1)); /* Standard syntax */
    color: #FFFFFF;
}
.admin_tag {
    color: #FFFFFF;
    border-radius: 2px;
    background-color: rgba(0, 102, 255, 0.5);
    padding: 5px;
    width: 20%;
    margin: auto;
}
.admin_h6 {
    text-align: center;
}
.admin_new {
    background-color: #FFFFFF;
    box-shadow: black;
    padding: 10px;
    border-radius: 2px;
    margin-top: 10px;
    text-align: center;
}

.admin_commentaire {
    border-radius: 4px;
    padding: 4px;
}
.collapsible {
    border: none;
    background-color: #FFFFFF;
    margin-top: 10px;
}
.admin_new a{
    color: #0D3B66;
    text-decoration: none;
    text-transform: uppercase;
}
.admin_new a:hover{
    transition-duration: bold 3s linear 1s;
    letter-spacing: 1px;
}

.admin_valider {
    padding: 10px;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #00001A;
    background: rgba(179, 217, 255, 0.5);

}
.admin_edit{
    background-color: #009900;
    font-size: 14px;
    width: auto;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #FFFFFF;
    border: none;
}
.admin_retour {
    font-size: 16px;
}
.admin_delete{
    background-color: #ff0000;
    padding: 10px;
    font-size: 14px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: center;
 }
.admin_nav {
   text-align: center;
}
.admin_form {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #f6f6f6;
}
.admin_cat, .admin_avis {
    width: 20%;
    border-radius: 2px;
    background-color: rgba(0, 102, 255, 0.5);
    margin: auto;
    padding: 10px;
    text-align: center;
}
.admin_avis {
    width: 40%;
    border-radius: 2px;
    background-color: rgba(0, 102, 255, 0.5);
    margin: auto;
    padding: 10px;
    text-align: center;
}
.admin_etab_card {
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: rgba(0, 102, 255, 0.4);
    margin-top: 10px;
}
.admin_etab_card img{
    width: 50%;
}
.admin_etab {
    text-align: center;
}
.admin_show {
    text-transform: uppercase;
    padding: 10px;
    color: #FFFFFF;

}

@media (max-width: 320px){
    h2.edrinscription{
        font-size: 12px;
        padding: 5px 0 0 0;
        width: 180px;
    }

    div.pos-rel{
        margin-top: 130px;
    }

    h2{
        margin: 0;
    }

    h4{
        font-size: 20px;
    }

    input#username, input#password{
        height: 10px;
    }

    #_submit{
        width: 100%;
    }

    div.col.s12{
        padding: 0 40px 0 40px;
    }

    .center-align{
        margin: 5px 0 0 0;
        font-size: 10px;
        padding: 0 5px 0 5px;
        display: block;
    }

    
}

/********ADMIN FORM *******/
.admin_field{
    border-bottom: 2px solid #FFFFFF;
    font-size: 14px;
}

/***********/
/**CSS LOGIN**/
/***********/


.titrelogin {
    margin-top: 50px;
    font-size: 34px;
}

.material-icons{
    width: 80px;
}

.edrinscription{
    //background: rgb(255, 255, 255);
    color: white;
    display: inline-block;
    //padding: 0.2em;
    font-size: 18px;
    letter-spacing: 2px;
    //margin-bottom: 10em;
}

.sign {
    background-color: orangered;
}

.pos-rel{
    position: relative;
    margin-top: 50px;
    left: -50%;
    background: rgba(0,0,0,0.6);
}

.pos-abs{
    position: absolute;

    z-index: 200;
    left: 50%;

}

.f-color{
    color: #fff;
}

/**CSS Home2**/
.home_profil {
    font-size: 40px;
}
.home_icon {
    font-size: 35px;
}
.class_famille {
    background-image: url(http://www.vanseodesign.com/blog/wp-content/uploads/2011/10/background-3.jpg);
    font-size: 35px;
    margin-top: -23px;
}
.class_entre.amis{
    background-image: url(http://i.imgur.com/A2rqm.png);
    margin-top: -18px;
    font-size: 30px;
}
.class_cadre.professionnel {
    background-image: url(http://i.imgur.com/A2rqm.png);
    margin-top: -18px;
    font-size: 30px;
}
.class_date {
    background-image: url(http://www.vanseodesign.com/blog/wp-content/uploads/2011/10/background-3.jpg);
    margin-top: -18px;
    font-size: 30px;
}
.home_center {
    text-align: center;
    margin-bottom: -30px;
}


/* ------------------------ */

/*.row .col{
    padding: 0;
}

.pad{
    padding: 5px 5px 0 5px;

}*/

.favorite{
    width: 278px;
    height: 136px;
    background: url("../images/datingT.jpg");
    background-size: cover;
}

.wc{
    width: 278px;
    height: 136px;
    background: url("../images/amisT.jpg");
    background-size: cover;
}

.group_add{
    width: 278px;
    height: 136px;
    background: url("../images/familleT.jpg");
    background-size: cover;
}

.business_center{
    width: 278px;
    height: 136px;
    background: url("../images/proT.jpg");
    background-size: cover;
}

.logo{
    width: 73px;
    margin-top: -26px;
}

.marge{
    margin: 2px 4px 2px 4px;
}

.bas{
    margin: 80px 0 0 0;
}

.depl{
    margin-top: 90px;
    margin-left: 40px;
}

/* ------------------------ */


/* css pao */

/****************/
/*USER REGISTER*/
/***************/
.input-field_register {
    color: #FFFFFF;
}



.bg-wrapper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}
.section-header {
    padding-top: 5.625em;
    text-align: center;
}
.section-header h3 {
    margin-bottom: 0.5em;
}
.section-header .line-red {
    margin: 2.5em auto 2.9375em auto;
}


.placeto{
    margin-left: 92px;
    font-size: 14px;
    margin-top: 14px;
}

.line-red {
    display: block;
    width: 4em;
    height: 0.1875em;
    margin: 0 auto;
    background: #f38181;
}
/* Main Header Styles */
.main-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: Montserrat, sans-serif;
    color: #fff;
    background: transparent;
}
.main-header .header-wrapper {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-top: 1em;
}
.main-header .header-wrapper .main-logo {
    float: left;
    font-weight: 700;
    font-size: 1.875em;
}
.main-header .header-wrapper .main-menu {
    float: right;
    text-align: center;
}
.main-header .header-wrapper .main-menu li {
    display: inline-block;
    padding: 0.75em 1.875em;
}
.main-header .header-wrapper .main-menu li a {
    padding-bottom: 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
}
.main-header .header-wrapper .main-menu li a:hover {
    color: #fce38a;
    border-bottom: 0.1875em solid #fce38a;
    transition: .1s;
}
.main-header .header-wrapper .main-menu li a span {
    font-size: 1.2em;
}
.main-header .header-wrapper .main-menu li:last-child {
    padding: 0.75em 0;
}
.main-header .header-wrapper .main-menu li:nth-child(6) a:hover,
.main-header .header-wrapper .main-menu li:last-child a:hover {
    border: none;
}
/* Section-1 Styles */
/*
#section-1 {
    height: 38em;
    color: #fff;
    background-color: #222;
}
#section-1 .content-slider {
    position: relative;
    width: 100%;
    height: 100%;
}
#section-1 .content-slider input {
    display: none;
}
#section-1 .content-slider .slider {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
}
#section-1 .content-slider .slider .banner {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all .5s ease;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper {
    height: 100%;
    padding-top: 6em;
    background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    box-sizing: border-box;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    padding-bottom: 0.3em;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: none;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 6em;
    line-height: 95%;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    display: block;
    width: 4em;
    height: 0.1875em;
    margin: 2.5em auto;
    background: #fff;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
    padding-bottom: 5em;
    z-index: 15 !important;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
    padding: 0.5em 2em;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.875em;
    color: #fff;
    text-transform: uppercase;
    border: 0.1875em solid #fff;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
    color: #e88382;
    border-color: #e88382;
    transition: .3s;
}
#section-1 .content-slider .slider #top-banner-1 {
    background: url('http://i68.tinypic.com/24lq9ao.jpg') no-repeat center center;
    background-size: cover;
}
#section-1 .content-slider .slider #top-banner-2 {
    background: url('http://i68.tinypic.com/2lj0spx.jpg') no-repeat center center;
    background-size: cover;
}
#section-1 .content-slider .slider #top-banner-3 {
    background: url('http://i67.tinypic.com/28clwr4.jpg') no-repeat center center;
    background-size: cover;
}
#section-1 .content-slider .slider #top-banner-4 {
    background: url('http://i64.tinypic.com/dw9eew.jpg') no-repeat center center;
    background-size: cover;
}
#section-1 .content-slider nav {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    z-index: 10;
    text-align: center;
}
#section-1 .content-slider nav .controls {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    color: #fff;
}
#section-1 .content-slider nav .controls label {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 3.1em;
    overflow: hidden;
    margin: 0 1em;
    padding-top: 1em;
    text-align: left;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #f6eac5;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s;
}
#section-1 .content-slider nav .controls label .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #f6eac5;
    z-index: 100;
}
#section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
    position: inherit;
    width: inherit;
    height: inherit;
    margin-left: -100%;
    background: #e88382;
}
#section-1 .content-slider nav .controls label span {
    font-size: 1.4em;
    font-weight: 700;
}
#section-1 .content-slider nav .controls label:hover {
    color: #e88382;
}
#section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
#section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
#section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
#section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
    opacity: 1;
    z-index: 1;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
    cursor: default;
    color: #fff;
    transition: all .5s;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
    background: #fff;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
    animation: progressBarFill 5s linear;
}
!* Animations *!
@keyframes progressBarFill {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0;
    }
}
!* Media Queries *!
@media only screen and (max-width: 2500px) {
    body {
        font-size: 22px;
    }
    .main-header .header-wrapper {
        width: 57%;
    }
    #section-1 {
        height: 46em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        padding-top: 12em;
    }
}
@media only screen and (max-width: 1920px) {
    body {
        font-size: 20px;
    }
    .main-header .header-wrapper {
        width: 60%;
    }
    #section-1 {
        height: 43em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        padding-top: 11em;
    }
}
@media only screen and (max-width: 1680px) {
    body {
        font-size: 18px;
    }
    .main-header .header-wrapper {
        width: 65%;
    }
    #section-1 {
        height: 40em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        padding-top: 9em;
    }
}
@media only screen and (max-width: 1366px) {
    body {
        font-size: 16px;
    }
    .main-header .header-wrapper {
        width: 70%;
    }
}
@media only screen and (max-width: 1120px) {
    .main-header .header-wrapper .main-menu li {
        padding: 0.75em 1.4em;
    }
    #section-1 {
        height: 35em;
    }
    #section-1 .content-slider nav {
        bottom: -0.2em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        padding-top: 7em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
        margin: 2em auto;
    }
}
@media only screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
    .main-header .header-wrapper .main-menu li {
        padding: 0.75em 1.3em;
    }
    #section-1 .content-slider nav {
        bottom: 0;
    }
    #section-1 .content-slider nav .controls {
        width: 80%;
    }
}
@media only screen and (max-width: 860px) {
    .main-header .header-wrapper .main-menu li {
        padding: 0.75em 0.9em;
    }
    #section-1 {
        height: 29em;
    }
    #section-1 .content-slider nav {
        bottom: -1em;
    }
    #section-1 .content-slider nav .controls {
        width: 90%;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
        font-size: 2em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
        font-size: 4.5em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
        padding-top: 5em;
    }
}
@media only screen and (max-width: 768px) {
    .main-header .header-wrapper .main-menu li {
        padding: 0.75em 0.5em;
    }
    #section-1 {
        height: 27em;
    }
    #section-1 .content-slider nav .controls {
        width: 100%;
    }
    #section-1 .content-slider nav .controls label {
        width: 19%;
        font-size: 0.8em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
        margin: 1.7em auto;
    }
}
@media only screen and (max-width: 650px) {
    .main-header .header-wrapper {
        width: 95%;
    }
}
@media only screen and (max-width: 480px) {
    .main-header .header-wrapper {
        width: 97%;
    }
    .main-header .header-wrapper .main-logo {
        display: none;
    }
    .main-header .header-wrapper .main-menu li {
        padding: 0.2em 0.3em;
    }
    .main-header .header-wrapper .main-menu li:last-child,
    .main-header .header-wrapper .main-menu li:nth-child(6) {
        padding: 0.2em 0.7em;
    }
    #section-1 {
        height: 26em;
    }
    #section-1 .content-slider nav {
        bottom: -0.5em;
    }
    #section-1 .content-slider nav .controls label {
        width: 40%;
        font-size: 0.7em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
        font-size: 1.5em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
        font-size: 3em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
        margin: 1.7em auto;
    }
}

*/

.user_h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: "URW Gothic L";
    font-weight: bold;
}
.register_validation {
    border: 1px solid #000000;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "URW Gothic L";
    margin: auto;
    content: 'Valider';
    background-color: black;
}
.register_validation:hover {
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "URW Gothic L";
    color: #FFFFFF;
    background-color: #000000;
    margin: auto;
}

/***********************/
/***MEDIA QUERIES******/
/*********************/
@media only handheld and (max-width: 250px) {
    .user_register{
        font-family: "Liberation Sans";

    }
    .user_h1 {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }
}


* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

html  { background: #000; font: normal 1em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; color: #fff; text-align: center; height: 100%; }
body { height: 100%; }

#video-viewport { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: -1; }
video { display: block; width: 100%; height: auto; }

.fullsize-video-bg { height: 100%; overflow: hidden; }

.fullsize-video-bg:before { content: ""; background: rgba(0,45,114,.35); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }


.fullsize-video-bg .inner { display: table; width: 100%; max-width: 24em; height: 100%; margin: 0 auto; padding: 0; position: relative; z-index: 2; text-shadow: 0 1px 5px rgba(0,0,0,.5); }
.fullsize-video-bg .inner > div { text-align: center; display: table-cell; vertical-align: middle; padding: 0 2em; }


h1 { font-family: "Raleway", sans-serif; font-size: 3em; line-height: .9; font-weight: 900; letter-spacing: -.025em; text-transform: uppercase; margin-bottom: .5em; }
h1 + p { font-family: "Shadows Into Light Two", cursive; font-size: 1.5em;  }