/***********/
/**CSS MAP**/
/***********/
/*!**/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 700px;
    width: 700px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}




#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}


.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}
/******* CSS Admin *******/

.admin_h3 {
    text-align: center;
    margin: auto;
    width: 100%;
    color: #0088CC;
}
.admin_h1 {
    text-align:center;
    margin:auto;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
}
.admin_body {
    background: #4d90fe;
    background: -webkit-linear-gradient(left,#003399, #00001A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,#003399, #00001A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#003399, #00001A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left,#003399, #00001A); /* Standard syntax */
    font-family: "URW Gothic L";
    margin: auto;
}
.admin_menu {
    margin: auto;
    width: auto;
    background-color: rgba(0,0,0, 0.4);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
}
.admin_menu p{
    text-align: center;
    vertical-align: middle;
}
.admin_menu p:hover {
    margin: auto;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    text-align: center;
    color: #000000;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
}
.admin_menu a:hover{
    text-transform: uppercase;
}
.admin_footer {
    margin: auto;
    text-align:center;
    margin-top: 10px;
    padding: 10px;
    background: #000000;
    background: -webkit-linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0, 1)); /* Standard syntax */
    color: #FFFFFF;
}
.admin_tag {
    color: #FFFFFF;
    border-radius: 2px;
    background-color: rgba(0, 102, 255, 0.5);
    padding: 5px;
    width: 20%;
    margin: auto;
}
.admin_h6 {
    text-align: center;
}
.admin_new {
    background-color: #FFFFFF;
    box-shadow: black;
    padding: 10px;
    border-radius: 2px;
    margin-top: 10px;
    text-align: center;
}

.admin_commentaire {
    border-radius: 4px;
    padding: 4px;
}
.collapsible {
    border: none;
    background-color: #FFFFFF;
    margin-top: 10px;
}
.admin_new a{
    color: #0D3B66;
    text-decoration: none;
    text-transform: uppercase;
}
.admin_new a:hover{
    transition-duration: bold 3s linear 1s;
    letter-spacing: 1px;
}

.admin_valider {
    padding: 10px;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #00001A;
    background: rgba(179, 217, 255, 0.5);

}
.admin_edit{
    background-color: #009900;
    font-size: 14px;
    width: auto;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #FFFFFF;
    border: none;
}
.admin_retour {
    font-size: 16px;
}
.admin_delete{
    background-color: #ff0000;
    padding: 10px;
    font-size: 14px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: center;
 }
.admin_nav {
   text-align: center;
}
.admin_form {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #f6f6f6;
}
.admin_cat, .admin_avis {
    width: 20%;
    border-radius: 2px;
    background-color: rgba(0, 102, 255, 0.5);
    margin: auto;
    padding: 10px;
    text-align: center;
}
.admin_avis {
    width: 40%;
    border-radius: 2px;
    background-color: rgba(0, 102, 255, 0.5);
    margin: auto;
    padding: 10px;
    text-align: center;
}
.admin_etab_card {
    width: 30%;
    margin: auto;
    padding: 10px;
    background-color: rgba(0, 102, 255, 0.4);
    margin-top: 10px;
}
.admin_etab {
    text-align: center;
}
.admin_show {
    text-transform: uppercase;
    padding: 10px;
    color: #FFFFFF;

}

/********ADMIN FORM *******/
.admin_field{
    border-bottom: 2px solid #FFFFFF;
    font-size: 14px;
}

/***********/
/**CSS LOGIN**/
/***********/

.block_login{
    background-image: url('../images/Bk.jpg');
    background-size: cover;
    min-height: 120vh;
    background-repeat: no-repeat;
    min-width: 100vw;
}
.titrelogin {
    margin-top: 50px;
    font-size:34px;
}

.material-icons{
    width:80px;
}

.edrinscription{
    background: rgba(0, 0, 0, .4);
    display: inline-block;
    padding: 0.2em;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10em;
}

.sign {
    background-color: orangered;
}

/**CSS Home2**/
.home_profil {
    font-size: 40px;
}
.home_icon {
    font-size: 35px;
}
.class_famille {
    background-image: url(http://www.vanseodesign.com/blog/wp-content/uploads/2011/10/background-3.jpg);
    font-size: 35px;
    margin-top: -23px;
}
.class_entre.amis{
    background-image: url(http://i.imgur.com/A2rqm.png);
    margin-top: -18px;
    font-size: 30px;
}
.class_cadre.professionnel {
    background-image: url(http://i.imgur.com/A2rqm.png);
    margin-top: -18px;
    font-size: 30px;
}
.class_date {
    background-image: url(http://www.vanseodesign.com/blog/wp-content/uploads/2011/10/background-3.jpg);
    margin-top: -18px;
    font-size: 30px;
}
.home_center {
    text-align: center;
    margin-bottom: -30px;
}

/****************/
/*USER REGISTER*/
/***************/
.input-field_register {
    color: #FFFFFF;
}

.user_register{
    font-family: "Liberation Sans";
    background: rgba();

}
.user_h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: "URW Gothic L";
    font-weight: bold;
}
.register_validation {
    border: 1px solid #000000;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "URW Gothic L";
    margin: auto;
    content: 'Valider';
}
.register_validation:hover {
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "URW Gothic L";
    color: #FFFFFF;
    background-color: #000000;
    margin: auto;
}

/***********************/
/***MEDIA QUERIES******/
/*********************/
@media only handheld and (max-width: 250px) {
.user_register{
    font-family: "Liberation Sans";


}
.user_h1 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
}
